.overlay-content {
    position: absolute; /* Se posiciona de manera absoluta con respecto a su contenedor más cercano con posición relativa o absoluta */
    top: 30%; /* Coloca el div en la parte superior del contenedor */
    left: 40%; /* Coloca el div en el lado izquierdo del contenedor */
    /* Puedes ajustar los valores de 'top' y 'left' para posicionar el div exactamente donde lo desees */

    /* Estilos adicionales para dar formato a tu div, botones e inputs */
    display: flex;
    flex-direction: column; /* Alinea los botones e inputs verticalmente */
    gap: 10px; /* Espacio entre los elementos */
    padding: 10px;
}